* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1b1b1b;
    color: white;
    font-family: Arial, sans-serif;
}

nav {
    height: 50px;
    background-color: #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

nav button {
    font-size: 16px;
    padding: 8px 20px;
    background-color: #eeeeee;
    border: 1px solid #333;
    border-radius: 3px;
    cursor: pointer;
}

#clock {
    margin-top: 370px;
    text-align: center;
}

#clock span {
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
}

#banner {
    width: 100px;
    height: 40px;
    margin: auto;
    background-color: orange;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}